html body {
  font-family: 'La Belle Aurore', sans-serif;
  align-items: center;
  justify-content: center;
  /*
  background-color: #3d0e00c1;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  */
  background-image: url("cartoncino.jpg");
  color: rgb(38, 38, 38);
}

html body .menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}
html body .menu .menu-item {
  position: relative;
  cursor: pointer;
}
.menu-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
html body .menu .menu-item .wee {
  height: 60px;
  width: 3px !important;
  background-color: #ce000099;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 49%;
  transition: 0.75s;
}
html body .menu .menu-item h6 {
  margin: 0;
  padding: 0 1rem 1.5rem;
  font-size: 1rem;
  color: rgb(38, 38, 38);
  transition: 0.75s;
}
html body .menu .menu-item:hover h6 {
  color: rgb(38, 38, 38);
}
html body .menu .current-menu-item h6 {
  color: rgb(38, 38, 38);
}
.me {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}
.me a {
  display: inline-block;
  padding: 0.25rem;
  margin: 0 0.25rem;
  color: rgb(38, 38, 38);
  font-size: 1.5rem;
  transition: 0.75s;
}
.me a:hover {
  color: #383838;
}
.centro{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col70 {
  float: left;
  width: 70%;
}
.col60 {
  float: left;
  width: 60%;
}
.col50 {
  float: left;
  width: 50%;
}
.col40 {
  float: left;
  width: 40%;
}
.col30 {
  float: left;
  width: 40%;
}
.col20 {
  float: left;
  width: 20%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.testo{
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: justify;
  margin-left: 6%;
  margin-right: 6%;
  line-height: 180%;
}
.titolo{
  font-size: xx-large;
}
.menu-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(1px);
}
img{
  border-radius: 4%;
}